{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/contact-bg.jpeg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Contact Us</h1>
            <span class="subheading">Have questions? We have answers.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container-fluid mt-5 mx-auto">
    <div class="row">
        <!-- Sol Sütun -->
        <div class="col-md-6">
          <br><br>
            <div class="p-3  contact-info text-center">
                <h3>For Technical (Back-end) Suggestions</h3>
                <p>Esat Aydın</p>
                <p>210254057@ogr.alanya.edu.tr</p>
            </div>
            <br><br>
            <div class="p-3  contact-info text-center">
                <h3>For Design (Front-End) Suggestions</h3>
                <p>Görkem Başaran</p>
                <p>200254061@ogr.alanya.edu.tr</p>
            </div>
        </div>

        <!-- Sağ Sütun -->
        <div class="col-md-6">
            <div class="p-3  contact-info text-center">
                <h3>For General Improvement Suggestions</h3>
                <p>Ali Özaydınlı</p>
                <p>200254016@ogr.alanya.edu.tr</p>
            </div>
            <div class="p-3  contact-info text-center">
                <p>Elif Atak</p>
                <p>210254032@ogr.alanya.edu.tr</p>
            </div>
            <div class="p-3  contact-info text-center">
                <p>Merve Seccan</p>
                <p>210254055@ogr.alanya.edu.tr</p>
            </div>
        </div>
    </div>
  </div>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}