{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/contact-bg.jpeg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Contact Us</h1>
            <span class="subheading">Have questions? We have answers.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>You can contact us to give us feedback about the blog! We will reply to you as soon as possible.</p>
        <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
        <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
        <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
        <div class="container-fluid mt-5">
          <div class="row">
              <!-- Sol Sütun -->
              <div class="col-md-4">
                  <div class="p-3 bg-light">
                      <h2>For technical (backend) suggestions</h2>
                      <p>Esat Aydın</p>
                      <p>210254055@ogr.alanya.edu.tr</p>
                  </div>
              </div>
      
              <!-- Orta Sütun -->
              <div class="col-md-4">
                  <div class="p-3 bg-light">
                      <h2>Orta Bölüm</h2>
                      
                  </div>
              </div>
      
              <!-- Sağ Sütun -->
              <div class="col-md-4">
                  <div class="p-3 bg-light">
                      <h2>Sağ Bölüm</h2>
                      <p>Bu bölümde sağ sütun içeriği yer alır.</p>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}