{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/static/img/index.jpeg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h2>Welcome to your Blog</h2>
            <span style="font-size: 18px;" class="subheading">Share your experiences and ideas with us, read, and discover new things!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in all_posts %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', index=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <hr>
            <h5 class="post-subtitle">
              {{post.subtitle}}
            </h5>
            <hr>
          </a>
          <div class="d-flex align-items-center mb-2">
            <button type="button" class="btn btn-outline-primary me-2" id="likeButton">
                <i style="color: #0085a1; border: #0085a1;" class="fas fa-thumbs-up"></i>
            </button>
            <div class="likeNumber btn btn-primary me-2">{{ post.like_num }}</div>
            <a style="color: #0085a1;" href="{{ url_for('get_category', name=post.category.lower()) }}" class="btn btn-link">{{ post.category }}</a>
          </div>
          
          <p class="post-meta mb-0">
              Posted by 
              <a href="#" class="author-link">{{ post.author.name }} {{ post.author.surname }}</a>
              on {{ post.date }}
              
              {% if current_user.id == post.author.id or current_user.id == 1 %}
                  <a style="color: white; text-decoration: none;" href="{{ url_for('delete_post', post_id=post.id) }}" class="btn btn-danger ms-3 ml-5">
                    <i class="fas fa-trash-alt"></i>
                  </a>
              {% endif %}
          </p>

        </div>
        <hr>
        {% endfor %}


        <!-- New Post -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{url_for('new_post')}}">Create New Post</a>
        </div>
      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}