{% import "bootstrap/wtf.html" as wtf %}

{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{post.img_url}}')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="post-heading">
					<h1>{{post.title}}</h1>
                        <h3 onclick="{{ url_for('get_category', name=post.category.lower()) }}">{{post.category}} </h3>
					<span class="meta">Posted by
              <a href="{{ url_for('show_profile', user_id=post.author.id) }}">{{post.author.name}} {{post.author.surname}}</a>
              on {{post.date}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
					<h2 class="subheading">{{post.subtitle}}</h2>

          <p>
            {{post.body|safe}}
          </p>
           <hr>
           <div class="clearfix">

              <a href="{{ url_for('like_post', post_id=post.id, page='post') }}" type="button" class="btn btn-outline-primary" id="likeButton">
                <i style="color: #0085a1; border: #0085a1;" class="fas fa-thumbs-up"></i>
              </a>
              <div class="likeNumber btn btn-primary float-left"> {{ post.like_num }} </div>
               {% if current_user.id == post.author.id or current_user.id == 1 %}
               <a class="btn btn-primary float-right" href="{{url_for('edit_post', post_id=post.id)}}">Edit Post</a>
                {% endif %}
                <hr>
               <!--           Comments Area -->
              <!-- Alt satırlar düzenlendi. Comment Inputunu küçültmemiz gerekiyor-->
                {{ ckeditor.load() }}
                {{ ckeditor.config(name='comment_text', language='en') }}
                {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                <hr>
                <div class="col-lg-8 col-md-10 mx-auto comment">
                  <ul class="list-group">
                      KODDA AŞAĞIDA CLASS İSMİ BELİRLEYİP YORUMLARI TEKRAR DİZAYN EDEBİLİRSİN
                      {% for comment in post.comments %}
                          <li class="list-group-item">
                              <div class="d-flex">
                                  <img src="{{ comment.comment_author.email | gravatar }}" class="rounded-circle mr-3" style="width: 50px; height: 50px;">
                                  <div>
                                    <a href="{{ url_for('show_profile', user_id=comment.comment_author.id) }}" class="date sub-text card-title">{{ comment.comment_author.name }} {{ comment.comment_author.surname }}</a>
                                    <p class="card-text"><strong>{{ comment.text | safe }}</strong></p>
                                    <div class="d-flex align-items-center">
                                        <div class="likeNumber btn btn-primary btn-sm mr-2">{{ comment.like_num }}</div>
                                        <a href="{{ url_for('like_comment', comment_id=comment.id, page='profile') }}" type="button" class="btn btn-outline-primary btn-sm" id="likeButton">
                                            <i style="color: #0085a1; font-size: 12px;" class="fas fa-thumbs-up"></i>
                                        </a>
                                        {% if current_user.id == comment.comment_author.id or current_user.id == 1 %}
                                            <a href="{{ url_for('delete_comment', post_id=post.id, comment_id=comment.id) }}" class="btn btn-danger btn-sm ml-2">DELETE</a>
                                        {% endif %}
                                    </div>
                                </div>
                              </div>
                          </li>
                      {% endfor %}
                  </ul>
              </div>

        </div>
          </div>
      </div>
    </div>
  </article>
  <hr>

{% include "footer.html" %}
